services:
  pi-backup:
    image: docker.io/urmelausmall/pinetworkimager:1.97
    container_name: pi-backup
    restart: unless-stopped
    privileged: true               # für dd + mount, pragmatisch
    ports:
      - "7899:8080"
    environment:
      BOOT_DEVICE: /dev/sda            # USB-SSD oder /dev/mmcblk0 – SD Karte
      #ZERO_FILL=true
      # CIFS
      CIFS_SHARE: "//192.168.178.25/System_Backup"
      CIFS_USER: "User"
      CIFS_DOMAIN: "WORKGROUP"
      CIFS_PASS: "Passwort"

      # Backup-Einstellungen
      IMAGE_PREFIX: "raspi-4gb-"
      # X Versionen behalten (inkl. aktuelle Sicherung)
      RETENTION_COUNT: "2"
      # Delay nach Abschluss des Backups vor Docker restart
      START_DELAY: "15"

      # Gotify
      GOTIFY_URL: "http://192.168.178.25:6742"
      GOTIFY_TOKEN: "xxxxxxxxxxxxx"
      GOTIFY_ENABLED: "false"

      # MQTT
      MQTT_ENABLED: "false"
      MQTT_HOST: "192.168.178.25"
      MQTT_PORT: "1883"
      # MQTT_USER: ""
      # MQTT_PASS: ""
      # MQTT_TLS: "false"
      MQTT_DISCOVERY_PREFIX: "homeassistant"
      MQTT_TOPIC_PREFIX: "pi-backups/pi-4gb-backup"
      BACKUP_NODE_NAME: "pi-4gb"

      TZ: Europe/Berlin

    volumes:
      # optional: Marker-Verzeichnis (First Boot & Abhängikeiten)
      - /docker/markers:/markers
      - /var/run/docker.sock:/var/run/docker.sock
      - /dev:/dev
